<!DOCTYPE html>
<html lang="en">
<head>
  <style type="text/css">
 td {
      font-size: 65%;
      padding: 4 !important;
      margin: 4 !important;
    }
 th {
      font-size: 75%;
  }
  .fixed-table tbody {
      display:block;
      height: 155px;
      overflow-y:scroll;
  }

  .fixed-table thead ,.fixed-table tbody tr {
      display:table;
      width:100%;
      table-layout:fixed;
  }
  .fixed-table thead {
      width: calc( 100% - 0.7em )
  }
  </style>
</head>
<body>
  <div class="container-fluid" style="padding: 1 !important; margin: 0 !important;">
    <div class="alert alert-success" id="success-alert"  aria-live="rude" role="alert" hidden>

      {% trans %}Transfer Note saved.{% endtrans %}
    </div>
    <div class="alert alert-danger" id="failure-alert"  aria-live="rude" role="alert" hidden>

      {% trans %}Something went wrong!{% endtrans %}
    </div>

    <div class="panel shadow transfernote_panel">
      <div class="panel-body">
        <div class="col-md-6">
          <div class="alert alert-danger" id="custsup-blank-alert"  aria-live="rude" role="alert" hidden>

            <label for="vno">{% trans %}Please Enter Date{% endtrans %}</label>
          </div>
          <div class="alert alert-danger" id="date-blank-alert"  aria-live="rude" role="alert" hidden>

            <label for="vno">{% trans %}Please enter date!{% endtrans %}</label>
          </div>
          <div class="alert alert-danger" id="tnno-blank-alert"  aria-live="rude" role="alert" hidden>

            <label for="vno">{% trans %}Please Enter Transfer Note No.!{% endtrans %}</label>
          </div>
          <div class="alert alert-danger" id="date-alert"  aria-live="rude" role="alert" hidden>

            <label for="vno">{% trans %}Please enter date in proper format!{% endtrans %}</label>
          </div>
          <div class="alert alert-danger" id="godown-blank-alert"  aria-live="rude" role="alert" hidden>

            <label for="vno">{% trans %}Godown Must be Selected!{% endtrans %}</label>
          </div>
          <div class="alert alert-danger" id="product-blank-alert"  aria-live="rude" role="alert" hidden>

            <label for="vno">{% trans %}Please select a product!{% endtrans %}</label>
          </div>
          <div class="alert alert-danger" id="quantity-blank-alert"  aria-live="rude" role="alert" hidden>

            <label for="vno">{% trans %}Please enter quantity!{% endtrans %}</label>
          </div>
          <div class="alert alert-success" id="delsuccess-alert"  aria-live="rude" role="alert" hidden>

            <label for="vno">{% trans %}Transfer Note Deleted Successfully!{% endtrans %}</label>
          </div>
          <div class="alert alert-danger" id="godown-same-alert"  aria-live="rude" role="alert" hidden>

            <label for="vno">{% trans %}From and To godown can not be same !{% endtrans %}</label>
          </div>
          <form>
            <div class="form-group">
              <label for="edit_tn_list">{% trans %}Transfer Note:{% endtrans %}</label>
              <select class="form-control input-sm " id="edit_tn_list" accesskey="">
                <option value="" disabled hidden selected>Select Transfer Note</option>
                {% for tn in transfernote %}
                <option value="{{tn['transfernoteid']}}">{{tn["transfernoteno"]}} , {{tn["transfernotedate"]}}</option>
                {% endfor %}>
              </select>
            </div>
            <div class="form-group hidden-load" hidden>
              <label for="edit_transfernote_no">{% trans %}Transfer Note No:{% endtrans %}</label>
              <input class="form-control input-sm disable" id="edit_transfernote_no" placeholder="{% trans %}Enter Transfer Note no{% endtrans %}" >
            </div>
            <div class="form-group hidden-load" hidden>
              <label for="edit_transfernote_date">{% trans %}Date:{% endtrans %}</label>
              <div class="form-inline">
                <form class="form-inline">
                  <div class="form-group">
                    <input type="text" class="form-control input-sm tndate disable" size="2" maxlength="2" placeholder="DD" id="edit_tn_date" accesskey="v">
                  </div>
                  <div class="form-group">
                    <input type="text" class="form-control input-sm tndate disable" size="2" maxlength="2" placeholder="MM" id="edit_tn_month" accesskey="v">
                  </div>
                  <div class="form-group">
                    <input type="text" class="form-control input-sm tndate disable" size="4" maxlength="4" placeholder="YYYY" id="edit_tn_year" accesskey="v">
                  </div>
                </form>
              </div>
            </div>
            <div class="form-group hidden-load" hidden>
              <div class="panel">
                <table id="transfernote_product_table" class="table table-condensed  shadow table-borderd fixed-table">
                  <thead class="bg-primary">
                    <tr>
                      <th class="col-xs-9">{% trans %}Product{% endtrans %}</th>
                      <th class="col-xs-2 text-center">{% trans %}Quantity{% endtrans %}</th>
                      <th class="col-xs-1"></th>
                    </tr>
                  </thead>
                  <tbody>

                  </tbody>
                </table>
                <small id="txtareahelp" class="form-text text-muted">Press esc to Enter No of Packets.</small>
              </div>
            </div>
          </div>
            <div class="col-md-6" id="edit_transfernote_godown_div">
              <div class="form-group hidden-load" hidden>
                <label for="edit_no_of_packet">{% trans %} Number Of Packets:{% endtrans %}</label>
                <input class="form-control input-sm disable" id="edit_no_of_packet">
              </div>

            <div class="form-group hidden-load" hidden>
              <label for="edit_tn_from_godown">{% trans %} From Godown:{% endtrans %}</label>
              <select class="form-control input-sm disable" id="edit_tn_from_godown" accesskey="">
                <option value=""  disabled hidden selected>{% trans %}Select Godown{% endtrans %}</option>
                {% for godown in godowns %}
                <option value="{{godown['goid']}}">{{godown["goname"]}} ({{godown["goaddr"]}})</option>
                {% endfor %}
              </select>
            </div>
            <div class="form-group hidden-load" hidden>
              <label for="edit_tn_to_godown">{% trans %} To Godown:{% endtrans %}</label>
              <select class="form-control input-sm disable" id="edit_tn_to_godown" accesskey="">
                <option value=""  disabled hidden selected>{% trans %}Select Godown{% endtrans %}</option>
                {% for godown in godowns %}
                <option value="{{godown['goid']}}">{{godown["goname"]}} ({{godown["goaddr"]}})</option>
                {% endfor %}
              </select>
            </div>
            <div class="form-group hidden-load" hidden>
              <label for="edit_transport_mode">{% trans %} Mode Of Transport:{% endtrans %}</label>
              <input class="form-control input-sm disable" id="edit_transport_mode">
            </div>

          <div class="form-group hidden-load" hidden>
            <label for="edit_name_issuer">{% trans %} Name Of Issuer:{% endtrans %}</label>
            <input class="form-control input-sm disable" id="edit_name_issuer">
          </div>
        <div class="edit_form-group hidden-load" hidden>
          <label for="designation">{% trans %} Designation:{% endtrans %}</label>
          <input class="form-control input-sm disable" id="edit_designation">
        </div>
      </form>
      </div>
    </div>
      <div class="panel-footer hidden-load" hidden>
        <button class="btn btn-success btn-sm" id="edit_transfernote_save" data-toggle="tooltip" data-placement="top" title="{% trans %}Press Insert to save anywhere on the current screen to save{% endtrans %}">{% trans %}Save{% endtrans %}</button>
        <button id="edit_transfernote_reset" class="btn btn-warning btn-sm" accesskey="e">{% trans %}R<u>e</u>set{% endtrans %}</button>
        <button id="tn_delete" class="btn btn-danger btn-sm" accesskey="d">{% trans %}<u>D</u>elete{% endtrans %}</button>
        <button id="edit_btn" class="btn btn-primary btn-sm" accesskey="t">{% trans %}Edi<u>t</u>{% endtrans %}</button>
      </div>
    </div>
    <div id="confirm_del" class="modal fade" tabindex="-1" role="dialog">
      <div class="vertical-alignment-helper">
        <div class="modal-dialog modal-sm vertical-align-center">
          <div class="modal-content">
            <div class="modal-header">

              <h4 class="modal-title">{% trans %}Delete?{% endtrans %}</h4>
            </div>
            <div class="modal-body">
              <p>{% trans %}Are you sure?{% endtrans %}</p>
            </div>
            <div class="modal-footer">
              <button type="button" id ="m_cancel" class="btn btn-warning" data-dismiss="modal">{% trans %}Cancel{% endtrans %}</button>
              <button type="button" id="accdel" data-dismiss="modal" class="btn btn-danger">{% trans %}Delete{% endtrans %}</button>
            </div>
          </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
      </div>
    </div><!-- /.modal -->

  </div>
</div>
<script type="text/javascript" src="{{request.static_url('gkwebapp:static/js/edittransfernote.js')}}"></script>
</body>
