<div class="col-sm-6">
<div class="editpr">
  <div class="row">
    <div class="form-group col-sm-4">
      <label for="editproddesc" class="">{% trans %}Product Description{% endtrans %} :</label>
      <input type='text' class="form-control input-sm" name="editproddesc"  id="editproddesc" value="{{proddesc['productdesc']}}" placeholder="Alphanumeric">

    </div>
    <div class="form-group col-sm-4">
      <label for="editcatselect" class="">{% trans %}Select Category{% endtrans %} :</label>
      <select class = "form-control input-sm "  name = "catselect" id="editcatselect" >
        {% if proddesc["categorycode"]== None %}
        <option value="" selected>{% trans %}None{% endtrans %}</option>
        {% endif %}
        {% for cat in category %}
        {% if cat['categorycode']== proddesc["categorycode"] %}
        <option value="{{cat['categorycode']}}" selected>{{cat["categoryname"]}}</option>
        {% else %}
        <option value="{{cat['categorycode']}}" >{{cat["categoryname"]}}</option>
        {% endif %}
        {% endfor %}
      </select>
    </div>
    <div class="form-group col-sm-4">
      <label for="edituom" class="">{% trans %}Unit of Measurement{% endtrans %} :</label>
      <select class = "form-control input-sm "  name = "uom" id="edituom" >
        {% for uom in uom %}
        {% if uom["uomid"]== proddesc["uomid"] %}
        <option value="{{uom['uomid']}}" selected>{{uom["unitname"]}}</option>
        {% else %}
        <option value="{{uom['uomid']}}">{{uom["unitname"]}}</option>
        {% endif %}
        {% endfor %}
      </select>
    </div>
  </div>
  </div>
  <div class="form-group taxdiv">
    <div class="panel taxinnerdiv">
    <table id="product_edit_tax_table" class="table table-condensed table-bordered fixed-table">
      <thead class="bg-primary input-sm">
        <tr>
          <th class="col-xs-4 text-center">{% trans %}Tax Name{% endtrans %}</th>
          <th class="col-xs-4 text-center">{% trans %}State{% endtrans %}</th>
          <th class="col-xs-3 text-center">{% trans %}Rate%{% endtrans %}</th>
          <th class="col-xs-1"></th>
          <th class=""></th>
        </tr>
      </thead>
      <tbody>
        <tr class="blank" value="new">
          <td class="col-xs-4">
            <select class="form-control input-sm product_tax_disable tax_name product_new_name">
              <option value="" selected>Select Tax</option>
              <option value="VAT">VAT</option>
              <option value="CVAT">CVAT</option>
            </select>
          </td>
          <td class="col-xs-4">
            <select class="form-control input-sm tax_state product_new_state product_tax_disable" >
              <option value="">None</option>
              <option value="Andaman and Nicobar Islands" stateid="1">Andaman and Nicobar Islands</option>
              <option value="Andhra Pradesh" stateid="2">Andhra Pradesh</option>
              <option value="Arunachal Pradesh" stateid="3">Arunachal Pradesh</option>
              <option value="Assam" stateid="4">Assam</option>
              <option value="Bihar" stateid="5">Bihar</option>
              <option value="Chandigarh" stateid="6">Chandigarh</option>
              <option value="Chhattisgarh" stateid="7">Chhattisgarh</option>
              <option value="Dadra and Nagar Haveli" stateid="8">Dadra and Nagar Haveli</option>
              <option value="Daman and Diu" stateid="9">Daman and Diu</option>
              <option value="Delhi" stateid="10">Delhi</option>
              <option value="Goa" stateid="11">Goa</option>
              <option value="Gujarat" stateid="12">Gujarat</option>
              <option value="Haryana" stateid="13">Haryana</option>
              <option value="Himachal Pradesh" stateid="14">Himachal Pradesh</option>
              <option value="Jammu and Kashmir" stateid="15">Jammu and Kashmir</option>
              <option value="Jharkhand" stateid="16">Jharkhand</option>
              <option value="Karnataka" stateid="17">Karnataka</option>
              <option value="Kerala" stateid="19">Kerala</option>
              <option value="Lakshadweep" stateid="20">Lakshadweep</option>
              <option value="Madhya Pradesh" stateid="21">Madhya Pradesh</option>
              <option value="Maharashtra" stateid="22">Maharashtra</option>
              <option value="Manipur" stateid="23">Manipur</option>
              <option value="Meghalaya" stateid="24">Meghalaya</option>
              <option value="Mizoram" stateid="25">Mizoram</option>
              <option value="Nagaland" stateid="26">Nagaland</option>
              <option value="Odisha" stateid="29">Odisha</option>
              <option value="Pondicherry" stateid="31">Pondicherry</option>
              <option value="Punjab" stateid="32">Punjab</option>
              <option value="Rajasthan" stateid="33">Rajasthan</option>
              <option value="Sikkim" stateid="34">Sikkim</option>
              <option value="Tamil Nadu" stateid="35">Tamil Nadu</option>
              <option value="Telangana" stateid="36">Telangana</option>
              <option value="Tripura" stateid="37">Tripura</option>
              <option value="Uttar Pradesh" stateid="38">Uttar Pradesh</option>
              <option value="Uttarakhand" stateid="39">Uttarakhand</option>
              <option value="West Bengal" stateid="41">West Bengal</option>
            </select>
          </td>
          <td class="col-xs-3">
            <input class="form-control input-sm tax_rate text-right product_new_rate numtype product_tax_disable" placeholder="Rate">
          </td>
          <td class="col-xs-1 product_tax_disable">

          </td>
        </tr>
      </tbody>
    </table>
    </div>
    <small id="taxhelp3" class="form-text text-muted">Press 'Esc' Key from tax rate to shift focus to specs or from godown opening stock to 'Save' button.</small><br>
    <small id="taxhelp4" class="form-text text-muted">Press 'Insert' Key from anywhere on the screen to save changes.</small>
    <a data-toggle="collapse" href="#moresmall">See more.<span class="glyphicon glyphicon-triangle-bottom"></span></a>
    <div class="collapse" id="moresmall">
      <small id="taxhelp2" class="form-text text-muted">Press 'Ctrl + >' or 'Ctrl + <' to navigate within fields in tax or godown table.</small><br>
      <small id="taxhelp" class="form-text text-muted">Press 'Shift + <' from tax name to shift focus to opening stock or from godown name to specs or checkbox.</small>
    </div>
  </div>
</div>
<div class="col-sm-6">
  <div class="row">
    <div class="col-sm-12" id="specshelp">
      <small class="form-text text-muted">Fields for entering specifications appear here when a category with specifications is selected.</small><br>
      <small class="form-text text-muted">If you do not have such a category you can create one.</small><br>
      <small class="form-text text-muted">You can also edit an existing category to add specifications to it.</small><br><br>
    </div>
  </div>
  <div id="extsp" class="row">

  <div id = "editspecifications">
      {% if proddesc["categorycode"]!= None %}

          {% for spec in prodspecs %}
          {% for pdesc in proddesc["specs"] %}
          {% if spec['spcode']|int == pdesc|int %}
          <div class="form-group  col-sm-6">

            <label for="{{spec['spcode']}}" class="">{{spec["attrname"]}} :</label>
            {% if spec["attrtype"]==0 %}
            <input type="text" class="form-control input-sm spec" name="{{spec['spcode']}}"  id="{{spec['spcode']}}" value="{{proddesc['specs'][pdesc]}}" placeholder="Alphanumeric">
            {% elif spec["attrtype"]==1 %}
            <input type="text" class="form-control input-sm numtype spec" name="{{spec['spcode']}}"  id="{{spec['spcode']}}" value="{{proddesc['specs'][pdesc]}}" placeholder="Numeric">
            {% elif spec["attrtype"]==2 %}
            <input type="text" class="form-control input-sm specdate spec" name="{{spec['spcode']}}"  id="{{spec['spcode']}}" value="{{proddesc['specs'][pdesc]}}" placeholder="DD-MM-YYYY">
            {% elif spec["attrtype"]==3 %}
            {% if proddesc['specs'][pdesc]|int ==1 %}
            <label class="radio-inline"><input value = "1" class="radtype input-sm spec" type="radio" name="{{spec['spcode']}}" checked>{% trans %}Yes{% endtrans %}</label>
            <label class="radio-inline"><input value = "0" class=" radtype input-sm spec" type="radio" name="{{spec['spcode']}}">{% trans %}No{% endtrans %}</label>
            {% else %}
            <label class="radio-inline"><input value = "1" class="radtype input-sm spec" type="radio" name="{{spec['spcode']}}">{% trans %}Yes{% endtrans %}</label>
            <label class="radio-inline"><input value = "0" class=" radtype input-sm spec" type="radio" name="{{spec['spcode']}}" checked>{% trans %}No{% endtrans %}</label>
            {% endif %}
            {% endif %}
          </div>
          {% endif %}
          {% endfor %}

          {% endfor %}

        {% endif %}


  </div>
  </div>
  <div class="row">
    {% if not godown %}
    <div class="form-group col-sm-6 pds">
      <label for="editopeningstock" class="">{% trans %}Opening Stock{% endtrans %} :</label>
      <div class="input-group">
        <input type='text' class="form-control text-right input-sm" name="openingstock"  id="editopeningstock" value="{{proddesc['openingstock']}}" aria-describedby="unitaddon">
        <span class="input-group-addon input-sm" id="unitaddon"></span>
      </div>
    </div>
    <input type="text" name="godownflag" id="editgodownflag" value="0" hidden>
    {% else %}
  {% if numberofgodowns==0 %}
  <div class="form-group col-sm-12">
    <input type="checkbox" name="godownflag" id="editgodownflag" value="0">
    <label class="" for="editgodownflag">{% trans %}Godown Wise Opening Stock{% endtrans %}</label>
  </div>
  <div id="editnogodown" class="form-group col-sm-6 pds">
    <label for="editopeningstock" class="">{% trans %}Opening Stock{% endtrans %} :</label>
    <div class="input-group">
      <input type='text' class="form-control text-right input-sm" name="openingstock"  id="editopeningstock" value="{{proddesc['openingstock']}}" aria-describedby="unitaddon">
      <span class="input-group-addon input-sm" id="unitaddon"></span>
    </div>
  </div>
  <div  id="editopeningstockdiv" class="form-group col-sm-12" hidden>
    <div class="panel">
      <table id="editgodown_ob_table" class="table table-condensed table-bordered fixed-table">
        <thead class="bg-primary input-sm">
          <tr>
            <th class="col-xs-8 text-center">{% trans %}Godown{% endtrans %}</th>
            <th class="col-xs-3 text-center">{% trans %}Opening Stock{% endtrans %}</th>
            <th class="col-xs-1 text-center"></th>
          </tr>
        </thead>
        <tbody>
            <tr class="editgodownid">
              <td class="col-xs-8">
                <select class="form-control input-sm editgodown_name">
                  <option value="" disabled selected hidden>Select Godown</option>
                  {% for record in godown %}
                  <option value={{record["goid"]}}>{{record["goname"]}}({{record["goaddr"]}})</option>
                  {% endfor %}
                </select>
              </td>
              <td class="col-xs-3">
                <input class="form-control input-sm editgodown_ob text-right numtype" value="0.00">
              </td>
              <td class="col-xs-1">
              </td>
            </tr>
        </tbody>
      </table>
    </div>
  </div>
  {% else %}
  <input type="text" name="godownflag" id="editgodownflag" value="1" hidden>
  <div  id="editopeningstockdiv" class="form-group">
    <div class="panel">
      <table id="editgodown_ob_table" class="table table-condensed table-bordered fixed-table">
        <thead class="bg-primary input-sm">
          <tr>
            <th class="col-xs-8 text-center">{% trans %}Godown{% endtrans %}</th>
            <th class="col-xs-4 text-center">{% trans %}Opening Stock{% endtrans %}</th>
            <th class="col-xs-1 text-center"></th>
          </tr>
        </thead>
        <tbody>
          {% for record in range(numberofgodowns) %}
            <tr class="editgodownid">
              <td class="col-xs-8">
                <select class="form-control input-sm editgodown_name">
                  {% for record in godown %}
                  <option value={{record["goid"]}}>{{record["goname"]}}({{record["goaddr"]}})</option>
                  {% endfor %}
                </select>
              </td>
              <td class="col-xs-3">
                <input class="form-control input-sm editgodown_ob text-right numtype" value="0.00">
              </td>
              <td class="col-xs-1">
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  {% endif %}
    {% endif %}
  </div>
</div>
